@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Лабораторная работа №1</h1>
    <p>Разработка веб-приложения с использованием ASP.NET Core MVC</p>
</div>
<div class="text-body">
    <p>
        <b>Цель работы</b>
    </p>
    <p>
        Приобрести навыки разработки веб-приложений на ASP. NET
        Core MVC.
    </p>
    <p>
        <b>Задания</b>
    </p>
    <ul>
        <li class="">
            <a class="" asp-area="" asp-controller="Home" asp-action="Task1">Задание 1</a>
        </li>
        <li class="">
            <a class="" asp-area="" asp-controller="Home" asp-action="Task2">Задание 2</a>
        </li>
    </ul>
</div>